.game-footer__menu {
  margin-top: 4rem;
  .game-footer-menu__item {
    margin: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: $burgundy;
    &:hover {
      color: $dark-turquoise;
    }
    @media only screen and (max-width: 32rem) {
      margin: 0.5rem;
    }
  }
  .game-footer-menu-item__icon {
    margin: 0.5rem;
    @media only screen and (max-width: 32rem) {
      margin: 0.1rem;
    }
  }
}
