.grid-container {
  width: 27rem;
  height: 27rem;
  margin: 1rem auto;
  background-color: #637ff7;
  color: $white;
  border: 0.375rem solid #6056d6;
  border-radius: 0.625rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  .grid__item {
    color: $white;
    background-color: #637ff7;
    border: 0.375rem solid #6056d6;
    border-radius: 0.125rem;
    font-weight: bold;
    font-size: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
