.players-container {
  margin: 1rem;
  @media only screen and (max-width: 29rem) {
    margin-bottom: 0.25rem;
  }
  .players__section-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .players__section {
    color: #31298a;
    font-size: 2rem;
  }
  .players__title {
    margin: 0.75rem 0.75rem 0 0.75rem;
  }
  .players__text {
    font-size: 1.5rem;
    color: #8a80ff;
  }
  .players__subtitle {
    font-size: 4rem;
    @media only screen and (max-width: 29rem) {
      font-size: 3rem;
    }
  }
}
