@import "reset.scss";
@import "base_variables";
@import "form.scss";
@import "players.scss";
@import "grid.scss";
@import "end-modal.scss";

.game-container {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: $all-sides-same;
}

.game__title {
  color: $dark-purple;
  font-size: $h1-font-size;
  margin: $h1-margin;
}
