@import "reset.scss";
@import "base_variables";
@import "form.scss";
@import "players.scss";
@import "grid.scss";
@import "end-modal.scss";
@import "footer.scss";

.game-container {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: $all-sides-same;
  .game__title {
    color: $burgundy;
    font-size: $h1-font-size;
    margin: $h1-margin;
    @media only screen and (max-width: 24rem) {
      margin: 0.5rem 1rem;
    }
  }
  .game__subtitle {
    margin: 1.5rem 1rem 1.25rem 1rem;
    font-size: 1.75rem;
    color: $dark-turquoise;
  }
  .game-header-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 32rem) {
      flex-direction: column;
    }
  }
  .game__button--enter {
    margin: 2rem .25rem 0 .25rem;
    font-size: 1.5rem;
    width: 9rem;
    height: 3rem;
    border-radius: 0.25rem;
    background-color: $burgundy;
    color: $white;
    @media only screen and (min-width: 64rem) {
      &:focus,
      &:hover {
        border-color: $dark-turquoise;
        background-color: $dark-turquoise;
        box-shadow: 0 0 0 .1rem $dark-turquoise;
      }
    }
    @media only screen and (max-width: 64rem) {
      height: 4rem;
    }
  }
}

// to prevent horizontal scrolling on phones
html, body {
  overflow-x: hidden;
}
body {
  width:100%;
}
