<main class="game-container">
  <h1 class="game__title">Tic Tac Toe</h1>
  {{#each @model.players as |player|}}
    <p>{{player.name}}</p>
  {{/each}}

  <Button @function={{this.setGrid}}>Start</Button>

  <Grid>
    {{#each @model.grid as |row|}}
      {{#each row as |square|}}
      {{log square}}
        <div class="grid__item">{{square.marker}}</div>  
      {{/each}}
    {{/each}}
  </Grid>
</main>